<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Student_Management_System.Properties.Settings.Student_Management_System_DB_4_ConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Student_Management_System_DB(4);Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>